# Скопируйте этот файл в .env и заполните своими ключами
YANDEX_API_KEY=your_yandex_api_key_here
YANDEX_FOLDER_ID=your_yandex_folder_id_here

#устанавливаем виртуальное окружение python -m venv .venv
#акстивируем его .\.venv\Scripts\activate
#открываем терминал Alt+F12 и скачиваем requirements: pip install -r requirements.txt
#чтобы запустить открываем терминал Alt+F12 и пишем: python yandexOCR.py
#дальше заполняем путь к фото и нажимаем enter